.calendar-app {
  position: relative;
  width: max-content;
  height: max-content;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  background-color: burlywood;
  box-shadow: #665239 2px 2px 2px 2px;
  overflow: hidden;

  &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 1200px;
      margin: 0 auto;
  }
}
