.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &__title {
    font-size: 26px;
    font-weight: 700;
    color: #665239;
  }

  &__event {
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input[type="text"] {
        width: 300px;
        height: 30px;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 500;
        color: #665239;
        background-color: antiquewhite;
        box-shadow: #665239 1px 1px 1px 1px;
        border: none;
        border-radius: 6px;
        outline: none;
      }

      button {
        padding: 5px 10px;
        font-size: 15px;
        font-weight: 700;
        background-color: #665239;
        color: antiquewhite;
        border: none;
        border-radius: 6px;
      }
    }

    &__info {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #665239;

      h1 {
        margin-bottom: 5px;
        font-size: 26px;
        font-weight: 700;
      }

      p {
        margin: 0 0 10px;
        font-size: 18px;
        font-weight: 500;
      }

      button {
        width: 120px;
        padding: 5px 10px;
        font-size: 15px;
        color: antiquewhite;
        background-color: #665239;
        border-radius: 6px;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.table {
  margin-bottom: 20px;

  &__body {
    width: 500px;

    &__months {
      th {
        width: 50px;
        font-size: 20px;
        font-weight: 600;
        color: antiquewhite;
      }
    }

    &__days {
      td {
        width: 50px;
        font-size: 18px;
        font-weight: 500;
        color: antiquewhite;
        text-align: center;
        cursor: pointer;

        &.hasEvent {
          background-color: #665239;
          border-radius: 12px;
        }
      }
    }
  }
}
