html,
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: wheat;
}

* {
  box-sizing: border-box;
}

.prev-month,
.next-month {
  opacity: 0.5;
}
